/* Page + full-screen map - Make the page tall enough for a full-screen map*/
html, body {
  height: 100%;
}
/* Somewhat different styling for the body */
body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Nunito", sans-serif; 
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #3d3d3d;
}
/* Make the map fill the entire browser window */
#map {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
}
/*Style the title panel (overlay box)*/
#title {
  position: fixed;
  top: 10px;
  left: 60px; /*Moved title over so it wasn't covering the zoom in/out tiles*/
  font-size: 2em;
  font-family: "Lora", serif;
  letter-spacing: .03em; /*Slightly reduced the letter spacing*/
  margin: 0;
  padding: 10px 15px;
  background: #fefafacf; /*Changed background color and transparency of description overlay box to make the title more readable*/
  border: 1px solid #777;
  border-radius: 6px;
  z-index: 800;
}
/*Style the description panel (overlay box)*/
#description {
  position: fixed;
  left: 10px;
  bottom: 30px; /*Moved up slightly to make room for link to go back to my index page*/
  width: 320px;
  max-width: calc(100vw - 20px);
  padding: 0 15px;
  background: #fef2e8cf; /*Changed background color and transparency of description overlay box to add more color to this map*/
  border: 1px solid #777;
  border-radius: 6px;
  z-index: 800;
}
/*Make paragraph text inside the description readable */
#description p {
  font-size: 0.95rem;
  line-height: 1.5;
}
/*Style links inside the description (and hover effect)*/
#description a {
  color: #005daa;
  text-decoration: none;
}

#description a:hover {
  text-decoration: underline;
}
/*Added 'back' to create a link that brings you back to my index page*/
#back {
  position: fixed;
  left: 10px;
  bottom: 3px;
  z-index: 800;
}